<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect to SignUp Page</title>
</head>
<body>
    <H1>THis is my home Page.....Cool.</H1>
        <!--Please navigate to this URL - /au/sign-up  to goto signup page-->
    <Button>
        <a href="/au/sign-up">SignUp</a>
    </Button>
</body>
</html>